<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="/merchant.css"  type="text/css" />
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/ZyZhR2j.jpg" alt="banner" height="300px" width="100%">
    </header>
    <div class="nav">
      <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Merchants
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="merchant-dropdown">
            <a href="/merchants/new">Create a New Merchant</a>
            <a href="/merchants/edit_input">Edit a Merchant</a>
            <a href="/merchants">View All Merchants</a>
            <a href="/merchants/show_input">View a Merchant</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Create a New Item</a>
            <a href="#">Edit an Item</a>
            <a href="#">View All Items</a>
            <a href="#">View an Item</a>
          </div>
        </div>
      </div>
      <div class="new">
        <h3> Please enter merchant id you wish to edit </h3>
        <form action="/merchants/edit/" method="get">
        <input type="text" name="id"/>
        <input type="submit" value="Search"/>
    </form>
      </div>
      <div class="footer">
  </div>
  </body>
</html>
