<form action="/merchants" method="POST">
  <p>Enter a new merchant:</p>
  Enter merchant id: <input type="number" name="merchant[merchant_id]"/><br/>
  Enter a merchant name: <input type="text" name="merchant[name]"><br/>
  <input type="hidden" name="merchant[created_at]" value="<%= Time.now %>"/>
  <input type="hidden" name="merchant[updated_at]" value="<%= Time.now %>"/>
  <input type="submit"/>
</form>
