<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="/merchant.css"  type="text/css" />
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/ZyZhR2j.jpg" alt="banner" height="300px" width="100%">
    </header>
    <div class="nav">
      <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Merchants
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="merchant-dropdown">
            <a href="/merchants/new">New</a>
            <a href="/merchants/edit_input">Edit</a>
            <a href="/merchants">Index</a>
            <a href="/merchants/show_input">Show</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/items/new">New</a>
            <a href="/items/edit_input">Edit</a>
            <a href="/items">Index</a>
            <a href="/items/show_input">Show</a>
          </div>
        </div>
      </div>
      <div class="new">
        <form action="/merchants" method="POST">
          <p>Enter a new merchant:</p>
          Enter merchant id: <input id="number-box" type="number" name="merchant[id]"/><br/>
          Enter a merchant name: <input id="text-box" type="text" name="merchant[name]"/><br/>
          <input type="hidden" name="merchant[created_at]" value="<%= Time.now %>"/>
          <input type="hidden" name="merchant[updated_at]" value="<%= Time.now %>"/>
          <input id="submit-button" type="submit"/>
        </form>
      </div>
      <div class="footer">
  </div>
  </body>
</html>
