<form action="/merchants" method="POST">
  <p>Enter a new merchant:</p>
  <input type="number" name="merchant[merchant_id]"/><br/>
  <input type="text" name="merchant[name]"><br/>
  <input type="date" name="merchant[created_at]"/>
  <input type="date" name="merchant[updated_at]"/>
</form>
