<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="merchant.css"  type="text/css" />
    <link rel="shortcut icon" href="https://i.imgur.com/dfPcsdI.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/WvrLpTj.jpg" alt="banner" height="300px" width="100%">
    </header>
    <div class="nav"  width="100px">
      <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Merchants
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content" id="drop-down">
            <a href="/merchants/new">Create Merchant</a>
            <a href="/merchants/edit_input">Edit Merchant</a>
            <a href="/merchants">View All Merchants</a>
            <a href="/merchants/show_input">View Merchant</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content">
           <a href="/items/new">Create Item</a>
           <a href="/items/edit_input">Edit Item</a>
           <a href="/items">View All Items</a>
           <a href="/items/show_input">View Item</a>
           <a href="/items-dashboard">Item Analytics</a>
         </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Categories
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content">
            <a href="/categories/new">Create Category</a>
            <a href="/categories/new">View All Categories</a>
          </div>
        </div>
      </div>
      <div class="analytics">
        <div class="merchants">
          <div class="analytics">
            <h1>Item Analytics</h1>
            <p>Item Count:</br><%= @item_count %>
            </p>
            <p>Average Price of Items:</br>$<%= @average_item_price %>
            </p>
            <p>Most Recent Item:</br><%= @recent_item %>
            </p>
            <p>Least Recent Item:</br><%= @oldest_item %>
            </p>
          </div>
        </div>
      </div>
  </body>
</html>
