<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="/merchant.css"  type="text/css" />
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/WvrLpTj.jpg" alt="banner" height="300px" width="100%">
    </header>
    <div class="nav">
      <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Merchants
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content">
            <a href="/merchants/new">New</a>
            <a href="/merchants/edit_input">Edit</a>
            <a href="/merchants">Index</a>
            <a href="/merchants/show_input">Show</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content">
            <a href="/items/new">Create a New Item</a>
            <a href="/items/edit_input">Edit an Item</a>
            <a href="/items">View All Items</a>
            <a href="/items/show_input">View an Item</a>
          </div>
        </div>
      </div>
      <div class="new">
        <h3> Please enter item id you wish to edit </h3>
        <form action="/items/edit/" method="get">
        <input type="text" name="id"/>
        <input type="submit" value="Search"/>
    </form>
      </div>
      <div class="footer">
  </div>
  </body>
</html>
