<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="merchant.css"  type="text/css" />
    <link rel="shortcut icon" href="https://i.imgur.com/dfPcsdI.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/lRdUfO1.jpg" alt="banner" height="300px" width="100%">
    </header>
    <div class="nav"  width="100px">
      <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Merchants
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content" id="drop-down">
            <a href="/merchants/new">Create a New Merchant</a>
            <a href="/merchants/edit_input">Edit a Merchant</a>
            <a href="/merchants">View All Merchants</a>
            <a href="/merchants/show_input">View a Merchant</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content">
           <a href="/items/new">Create a New Item</a>
           <a href="/items/edit_input">Edit an Item</a>
           <a href="/items">View All Items</a>
           <a href="/items/show_input">View an Item</a>
           <a href="/items-dashboard">Item Analytics</a>
         </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Categories
            <i class="la la bub"></i>
          </button>
          <div class="dropdown-content">
            <a href="/categories/new">Create a New Category</a>
            <a href="/categories/new">View All Categories</a>
            <a href="/categories-dashboard">Category Analytics</a>
          </div>
        </div>
      </div>
      <div class="analytics">
        <div class="merchants">
          <div class="analytics">
            <h1>Category Analytics</h1>
            <table>
              <tr>
                <th>Category Name</th>
                <th>Average Price of Items</th>
              </tr>
              <% @categories.each do |category| %>
                <tr>
                  <td>
                    <%= category.name %>:
                  </td>
                  <td>
                    $<%= category.average_price %>
                  </td>
                </tr>
              <% end %>
            </table>
            <p>Category with Most Expensive Item:</br><%= @category_with_most_expensive_item %></p>
            <p>Category with Least Expensive Item:</br><%= @category_with_least_expensive_item %></p>
          </div>
        </div>
      </div>
  </body>
</html>
