<form action="/categories/<%= @category.name %>" method="POST">
  <input type="hidden" name="_method" value="PUT"/>
  <input type="number" name="category[id]" value="<%= @category.id %>"/>
  <input type="text" name="category[name]" value="<%= @category.name %>"/>
  <input type="submit"/>
</form>
