<% @categories.each do |category| %>
    <p><%= category.name %></p>
    <form action="/categories/<%= category.name %>" method="POST">
      <input type="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete"/>
    </form>
<% end %>
