<html>
 <head>
     <link rel="stylesheet" href="/merchant.css"  type="text/css" />
   </head>
 <body>
   <div class="error-image">
     <img src="https://i.imgur.com/ua7G3Ee.gif"  alt="banner" height="350px " width="350px" class="sal">
   </div>
   <section>
     <h1 class="error-page-text"> Error 404 page not found!</h1>
   </section>
   </body>
  </html>
