<html>
  <head>
    <title>Little Shop Redux</title>
    <link rel="stylesheet" href="main.css" title="CSS" type="text/css" />
  </head>
  <body>


  <header>
        <img src="https://i.imgur.com/dMnOpqu.jpg" alt="banner" height="300px" width="100%">

    </header>
    <div class="nav">

    </div>

  </body>
</html>
